$darkOrange-300: #ff7a50;
$orange-100: #faeded;
$orange-200: #e3cfcf;
$orange-900: #ff6838;
$yellow-500: #ffb800;
$darkBlue-300: #747584;
$darkBlue-900: #363853;
$silver-100: #f9faff;
$silver-200: #eeeff3;
$silver-300: #ececec;
$silver-400: #c2c2c2;
$dark-600: #505050;
$darkGreen-900: #31352b;
$pastelPink-300: #fff2ed;
$white: #fff;
$black: #000;
$hover-background: rgba(255, 122, 80, 0.1);
$active-box-shadow: rgba(255, 104, 56, 0.2);
/* адаптив */



$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px,
  "desktop-2": 1400px
);