.testimonials {
	padding-bottom: 132px;

	@include mq("tablet") {
		padding-bottom: 56px;
	}

	@include mq("phone") {
		padding-bottom: 40px;
	}

	&__title {
		margin-bottom: 50px;
		text-align: center;

		@include mq("tablet") {
			margin-bottom: 30px;
		}
	}

	&__wrapper {
		max-width: 1035px;
		margin: 0 auto;
		padding-bottom: 2px;
		overflow: hidden;

		@include mq("tablet") {
			position: relative;
		}
	}


	&__inner {
		margin-bottom: 45px;

		@include mq("tablet") {
			margin-bottom: 0;
		}
	}

	&__slide {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		@include mq("tablet") {
			flex-direction: column;
		}
	}

	&__img {
		display: block;
		width: 100%;
		max-width: 300px;
		height: auto;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		object-fit: cover;

		@include mq("tablet") {
			max-width: 200px;
			margin-bottom: 29px;
		}

		@include mq("phone") {
			width: 100px;
		}
	}

	&__box {
		max-width: 610px;
		width: 100%;

		@include mq("tablet") {
			max-width: 100%;
		}

	}


	&__info {
		padding-left: 40px;

		@include mq("tablet-2") {
			padding-right: 40px;
		}
	}

	&__quote {
		position: relative;
		margin-bottom: 30px;
		font-style: italic;
		line-height: 150%;

		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			width: 25px;
			height: 20px;
			background-image: url('../images/icons/marks-left.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&::after {
			top: 0;
			left: -40px;

			@include mq("phone") {
				top: -10px;
				height: 25px;
			}
		}

		&::before {
			bottom: 0;
			right: -40px;
			transform: scaleX(-1);

			@include mq("phone") {
				bottom: 10px;
				height: 25px;
			}
		}

		@include mq("phone") {
			font-size: 14px;
			margin-bottom: 20px;
		}
	}

	&__author {
		display: block;
		margin-bottom: 15px;
		color: $orange-900;
		font-weight: 500;

		@include mq("phone") {
			margin-bottom: 10px;
		}
	}

	&__details {
		font-size: 14px;
		font-weight: 400;
	}

	&__navigation {
		display: grid;
		justify-content: center;
		grid-auto-flow: column;
		gap: 15px;

		@include mq("tablet") {
			display: flex;
			justify-content: space-between;
			position: absolute;
			top: 0;
			width: 100%;
			padding: 90px 35px 0 35px;
		}

		@include mq("phone") {
			padding-top: 27px;
		}

	}

	&__pagination {
		display: flex;
		align-items: center;
		gap: 8px;

		@include mq("tablet") {
			display: none;
		}
	}

	&__arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		border: 2px solid $silver-400;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.5s, box-shadow 0.5s, opacity 0.3s;

		&:focus {
			outline: none;
		}

		&:focus,
		&:hover {
			box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
		}

		&:hover,
		&:active {
			background-color: rgba($darkOrange-300, 0.3);
		}

		&:hover {
			color: rgba($orange-900, 0.7);
			border: none;
		}

		&:active {
			color: rgba($orange-900, 0.9);
			box-shadow: none;
		}

		svg {
			width: 13px;
			height: 13px;
		}

		@include mq("tablet") {
			z-index: 1;
			width: 30px;
			height: 30px;
		}

		@include mq("phone") {
			width: 40px;
			height: 40px;

			svg {
				width: 20px;
				height: 20px;
				color: $silver-400;
			}
		}
	}
}