.hero {
	&__wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		min-height: 660px;
		background-image: url('../images/courier.png');
		background-repeat: no-repeat;
		background-position: right center;
		background-size: auto;
		width: 100%;
		height: 100%;
	}

	&__inner {
		max-width: 450px;
	}

	&__title {
		color: $darkBlue-900;
		margin-bottom: 20px;
		font-family: 'Rubik', sans-serif;
		font-weight: 500;
		font-size: 66px;
		line-height: 130%;
		text-transform: uppercase;
	}

	&__accent {
		color: $orange-900;
	}

	&__text {
		line-height: 150%;
		margin-bottom: 20px;
	}

	&__detail {
		display: flex;
		align-items: center;
		gap: 30px;
	}
}