.testimonials {
	padding-bottom: 132px;

	&__title {
		margin-bottom: 50px;
		text-align: center;
	}

	&__wrapper {
		max-width: 1035px;
		margin: 0 auto;
		padding-bottom: 2px;
		overflow: hidden;
	}


	&__inner {
		margin-bottom: 45px;
	}

	&__slide {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	&__img {
		max-width: 300px;
		width: 100%;
		aspect-ratio: 1;
		border-radius: 50%;
		object-fit: cover;
	}

	&__box {
		max-width: 610px;
		width: 100%;

	}


	&__info {
		padding-left: 40px;
	}

	&__quote {
		position: relative;
		margin-bottom: 30px;
		font-style: italic;
		line-height: 150%;

		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			width: 25px;
			height: 20px;
			background-image: url('../images/icons/marks-left.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		&::after {
			top: 0;
			left: -40px;
		}

		&::before {
			bottom: 0;
			right: -40px;
			transform: scaleX(-1);
		}
	}

	&__author {
		display: block;
		margin-bottom: 15px;
		color: $orange-900;
		font-weight: 500;
	}

	&__details {
		font-size: 14px;
		font-weight: 400;
	}

	&__navigation {
		display: grid;
		justify-content: center;
		grid-auto-flow: column;
		gap: 15px;
	}

	&__pagination {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		border: 2px solid $silver-400;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.5s, box-shadow 0.5s, opacity 0.3s;

		&:focus {
			outline: none;
		}

		&:focus,
		&:hover {
			box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
		}

		&:hover,
		&:active {
			background-color: rgba($darkOrange-300, 0.3);
		}

		&:hover {
			color: rgba($orange-900, 0.7);
			border: none;
		}

		&:active {
			color: rgba($orange-900, 0.9);
			box-shadow: none;
		}
	}
}

.swiper-button-disabled {
	cursor: default;
	pointer-events: none;
	box-shadow: none;
	opacity: 0.5;
}