.contacts-info {
	width: 100%;

	&__item {
		padding-left: 30px;
		position: relative;
		font-size: 16px;
		line-height: 200%;
		margin-bottom: 15px;

		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			left: 0;
			top: 7px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		&--adress {
			&::before {
				background-image: url('../images/icons/location.svg');
			}
		}

		&--calling {
			&::before {
				background-image: url('../images/icons/calling.svg');
			}
		}

		&--message {
			&::before {
				background-image: url('../images/icons/message.svg');
			}
		}
	}

	&__link {
		@include interactive-states;
	}

}