.contacts-info {
	width: 100%;
	word-wrap: break-word;

	&__item {
		font-size: 16px;
		line-height: 200%;
		margin-bottom: 15px;
	}

	&__link {
		padding-left: 30px;
		position: relative;
		white-space: nowrap;
		@include interactive-states;

		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			left: 0;
			bottom: 0;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		&--adress {
			&::before {
				background-image: url('../images/icons/location.svg');
			}
		}

		&--calling {
			&::before {
				background-image: url('../images/icons/calling.svg');
			}
		}

		&--message {
			&::before {
				background-image: url('../images/icons/message.svg');
			}
		}
	}
}