.footer {
	&__top {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding-right: 77px;
		padding-bottom: 60px;
	}

	&__logo {
		margin-bottom: 25px;
	}

	&__wrapper {
		max-width: 200px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 10px;
		width: 100%;
		max-width: 571px;
		font-size: 18px;
		line-height: 130%;
	}

	&__contacts-info {
		max-width: 250px;
	}

	&__link,
	.contacts-info__link {
		@include interactive-states;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px;
		border-top: 2px solid $silver-200;
	}

	&__text {
		font-size: 14px;
		line-height: 100%;
	}
}