.product-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	gap: 12px;
	padding: 20px 15px;
	border-radius: 5px;
	background-color: $white;
	font-size: 15px;
	transition: box-shadow 0.3s, border-radius 0.3s;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: auto;
	}

	&__img {
		width: 144px;
		height: 144px;
		object-fit: cover;
	}

	&__price {
		color: $darkBlue-900;
		font-weight: 500;
		line-height: 140%;
	}

	&__button {
		z-index: 1;
		border-radius: 6px;
		padding: 7px 16px;
		color: $white;
		font-size: 14px;
		line-height: 130%;
		background-color: $orange-900;
	}

	&__link {
		overflow: hidden;
		@include line-clamp(3);

		&::before {
			content: '';
			z-index: 1;
			position: absolute;
			inset: 0;
			display: block;
			@include transition-card;
		}

		&:hover::before {
			@include focus;
		}

		&:focus::before {
			@include focus-card;
		}

		&:active::before {
			@include active-card;
		}
	}
}