.social {
	display: flex;
	gap: 15px;

	&__icon {
		width: 20px;
		height: 20px;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		background-color: $silver-200;
		transition: background-color 0.3s, box-shadow 0.3s, color 0.9s;

		&:focus {
			background-color: rgba($darkOrange-300, 0.1);
			box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
		}

		&:hover {
			background-color: $darkOrange-300;
			color: $white;
		}

		&:active {
			background-color: $pastelPink-300;
			color: $orange-900;
			box-shadow: none;
		}
	}
}