.subscribe-form {
	&__field {
		width: 100%;
		padding: 12px 16px;
		border-radius: 6px;
		border: 1px solid $silver-400;
		background-color: $white;
		color: $darkBlue-900;
		font-size: 14px;
		line-height: 130%;
		margin-bottom: 10px;
		transition: box-shadow 0.3s;

		&::placeholder {
			color: $silver-400;
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			transition: color 0.3s;
			opacity: 0.9;
		}

		&:focus {
			box-shadow: 0 0 0 2px $orange-900;
		}

		&:hover {
			&::placeholder {
				color: $darkBlue-900;
			}
		}
	}

	&__btn {
		position: relative;
		gap: 15px;
		width: 100%;
		padding: 12px 41px 12px 67px;
		font-weight: 500;
		font-size: 14px;
		transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

		&:focus {
			color: $orange-900;
		}
	}

	&__icon {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		left: 43px;
		width: 16px;
		height: 16px;
	}
}