<footer class="footer">

	<div class="container">

		<div class="footer__top">

			<div class="footer__wrapper">

				<a class="footer__logo logo" href="#">
					<img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="40">
				</a>

				<form class="subscribe-form">
					<label class="sr-only" for="subscribe-form-email">Введите ваш email</label>
					<input class="subscribe-form__field" id="subscribe-form-email" type="email" placeholder="Ваш email"
						name="email" required>
					<button class="subscribe-form__btn button" type="submit">
						<svg class="subscribe-form__btn--icon">
							<use xlink:href="images/sprite.svg#subscribe-arrow"></use>
						</svg>
						Подписаться
					</button>
				</form>

			</div>

			<ul class="footer__list">

				<li class="footer__item">
					<a class="footer__link" href="#">Как это работает</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">О нас</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">Скачать приложение</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">Продукты</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">Новости</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">Блог</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">Блюда</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">Партнеры</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">Что нового?</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">Меню</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">ЧаВо</a>
				</li>

				<li class="footer__item">
					<a class="footer__link" href="#">Карта сайта</a>
				</li>

			</ul>

			<div class="footer__info">

				<ul class="contacts-info footer__contacts-info">

					<li class="contacts-info__item">
						<a class="contacts-info__link" href="#">ул. Смирнова 2/3</a>
					</li>

					<li class="contacts-info__item">
						<a class="contacts-info__link contacts-info__link--calling" href="tel:79068057043">79068057043</a>
					</li>

					<li class="contacts-info__item">
						<a class="contacts-info__link contacts-info__link--message"
							href="mailto:support@sfood.com">support@sfood.com</a>
					</li>

				</ul>

				<ul class="social">

					<li class="social__item">
						<a class="social__link" href="#" target="_blank">
							<span class="sr-only">facebook</span>
							<svg class="social__icon">
								<use xlink:href="images/sprite.svg#facebook"></use>
							</svg>
						</a>
					</li>

					<li class="social__item">
						<a class="social__link" href="#" target="_blank">
							<span class="sr-only">twitter</span>
							<svg class="social__icon">
								<use xlink:href="images/sprite.svg#twitter"></use>
							</svg>
						</a>
					</li>

					<li class="social__item">
						<a class="social__link" href="#" target="_blank">
							<span class="sr-only">instagram</span>
							<svg class="social__icon">
								<use xlink:href="images/sprite.svg#instagram"></use>
							</svg>
						</a>
					</li>

				</ul>

			</div>

		</div>

	</div>

	<div class="footer__bottom">
		<span class="footer__text">© 2021 Simple Food</span>
	</div>

</footer>